body {
    background-color: #37517E;
}

header {
    background-color: #37517E;
    color: #FFFFFF;
}

footer {
    background-color: #F3F5FA;
    height: 15%;
}

.btn-outline-success{
    color: #FFFFFF;
    border-color: #4191C1;
    border-width: medium;
}

.btn-custom1 {
    background: #4191C1;
    color: #FFFFFF;
}